* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ba181b;
    width: 100%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero {
    font-size: 2.5rem;
}

.lead {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.tenor-gif-embed {
    max-width: 500px;
}