:root {
    /* --background-color: #1597E5; */
    --background-color: #6fc2fa;
    --primary-color: #fff;
    --shadow-color: #a01717ab;
    --secondary-color: #0C4271;
    /* --other-color: #F0A500; */
    --other-color: #FFB319;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    scroll-behavior: inherit;

    font-family: 'Georama', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #000 url("https://wallpapercave.com/wp/nh9U4Hu.png") no-repeat  center/ cover;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::after {
    position: absolute;
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);;
}


body > *{
    position: relative;
    z-index: 10;
}

a {
    text-decoration: none;
}

.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;
}


h1.hero {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--other-color);
    text-shadow: 1px 1px var(--shadow-color);
}

.tenor-gif-embed {
    box-shadow: 0px 0px 5px #000;
    border: none;
    outline: none;
}

.btn {
    margin: 2rem auto 0 auto;
    padding: 0.5rem;
    width: 150px;
    font-weight: bolder;
    text-align: center;
    font-size: 1.25rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.btn.btn-secondary {
    background-color: #810303;
    color: var(--other-color);
}

.btn-primary {
    color: #810303;
    background-color: var(--background-color)
}

.btn-play {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn-play:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: #740b0b;
}

.game-wrapper {
    width: 100%;
}

.score-header {
    align-self: flex-start;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.score-header h2 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: var(--other-color);
}

.score {
    color: var(--primary-color);
}

.game-options {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: 2rem auto;
}

.option-wrapper {
    margin: 0.5rem;
    text-align: center;
    display: flex;
    width: 7rem;
    height: 7rem;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--other-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
} 

.option-wrapper:hover {
    cursor: pointer;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.option-wrapper.no-pointer-events {
    pointer-events: none;
    background-color:rgba(99, 0, 0, 0.788);
}

.option-wrapper.current-option {
    font-weight: 700;
    background-color: rgba(12, 66, 113, 0.5);
    color: var(--background-color);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.option-wrapper img, .game-choice figure img{
    width: 4rem;
    height: 4rem;
}

.option-wrapper figcaption {
    font-size: 0.9rem;
}

.game-choice {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem auto 0 auto;
}

.game-choice .human-choice-wrapper {
    width: 150px;
}

.game-choice .computer-choice-wrapper {
    width: 150px;
}

.loading-gif {
    margin: 1.5rem auto;
    text-align: center;
}

.loading-gif.display-block  img {
    animation: animateDisplay 2s infinite alternate ease-in-out;
    -webkit-animation: animateDisplay 2s infinite alternate ease-in-out;
}


.loading-gif.display-block > .loading-text {
    color: var(--other-color);
    animation: blinkText 1s infinite alternate ease-in-out;
    -webkit-animation: blinkText 1s infinite alternate ease-in-out;
}

.display-none {
    display:none !important;
}

.display-block {
    visibility: visible;
    display: block;
}


@keyframes animateDisplay {
    0% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
@keyframes blinkText {
    0% {
        opacity:0;
    }

    100%{
         opacity: 1;
         transform: scale(1.05);
         -webkit-transform: scale(1.05);
         -moz-transform: scale(1.05);
         -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
    }
}


.game-result {
    margin: 3rem auto;
    background-color: var(--shadow-color);
    padding: 1rem;
    color: var(--other-color);
    text-align: center;
    animation: animateResult 0.7s ease-in-out  infinite forwards alternate;
    -webkit-animation: animateResult 0.7s ease-in-out  infinite forwards alternate;
}

.game-result .result-text {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.game-result .winner-text {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.btn-play-again {
    cursor: pointer;
    margin: 1rem auto;
    display: block;
    text-align: center;
    border-radius: 0;
    max-width: 200px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.btn-play-again:hover {
    text-shadow: 1px 1px var(--other-color);
    transform:skew(-10deg) ;
    -webkit-transform:skew(-10deg) ;
    -moz-transform:skew(-10deg) ;
    -ms-transform:skew(-10deg) ;
    -o-transform:skew(-10deg) ;

    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    box-shadow: 2px 2px 2px var(--other-color);
}

@keyframes animateResult {
    0% {
        background-color: rgba(255, 0, 0, 0.788);
    }

    100% {
        background-color: var(--shadow-color);
    }
}

.tournament-result {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tournament-score {
    color: var(--primary-color);
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    background: 
    -webkit-linear-gradient(var(--background-color), var(--primary-color));
    text-shadow: 2px 2px rgba(12, 66, 113, 0.5);

    background: linear-gradient(var(--background-color), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}

@media screen and (max-width:768px) {
    .game-options {
        justify-content: center;
    }

    .game-choice {
        flex-direction: column;
    }
}

